# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup

# Ignore Terraform plan files
*.tfplan

# Ignore .terraform directory (contains Terraform module and provider plugins)
.terraform/

# Ignore .terraform.lock.hcl file
.terraform.lock.hcl

# Ignore Python __pycache__ directories
**/__pycache__/

# Ignore Python bytecode files
*.pyc

**/node_modules/

