<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - Escape Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('main.home') }}">בית</a></li>
          <li><a href="{{ url_for('main.leaderboard') }}">טבלת מובילים</a></li>
          {% if current_user.is_authenticated %}
            <li>User: {{ current_user.username }}</li>
            <li><a href="{{ url_for('main.logout') }}">יציאה</a></li>
          {% else %}
            <li><a href="{{ url_for('main.login') }}">כניסה</a></li>
            <li><a href="{{ url_for('main.register') }}">רישום</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
